/* ==========================================================================
   Skins
   ========================================================================== */

%base-box-skin {
  background: #fff;
  box-shadow: 0 3px 0 0 rgba($base-color, 0.08), 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
}

%base-inset-skin {
  background: tint($base-color, 96%);
  box-shadow: 0 2px 12px 2px $base-alpha-color, 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
}

%base-overlay-skin {
  background: #fff;
  box-shadow: 0 2px 12px 2px $base-alpha-color, 0 0 0 1px $base-alpha-color;
  border-radius: $base-border-radius;
}

%base-frame-skin {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    content: "";
    box-shadow: inset 0 0 0 1px $base-alpha-color;
    pointer-events: none;
  }
}